<h1>GENETHIC ALGORITHM</h1>
<button>
<div style="text-align: center;">
		<%= link_to("START", {:action => 'index'})%>
	</div>
</button>
<h2>initial distans: <%= @initial_dist %></h2>
<h2>final distans: <%= @final_dist %></h2>
<h2>solution: <%= @solution %></h2>

<p><%= link_to("HOME", {:controller => 'home'})%><p>

