<h1>Set#index</h1>
<p>Find me in app/views/set/index.html.erb</p>


<h3>Monitoring</h3>

<p>select courier:</p>

<table class="table table-striped">
		<tr class="info">
			<th>id</th>
			<th>email</th>
			<th>admin</th>
			<th>actions</th>
		</tr>
	<% @users.each do |i| %>
		<tr>
			<td><%= i.id %></td>
			<td><%= i.email %></td>
			<td><%= i.admin %></td>
			<td class="actions">
				<%= link_to("set_new", {:action => 'new', :id => i.id}, :class => 'btn btn-xs btn-success') %>
				<%= link_to("delete", :class => 'btn btn-xs btn btn-success')%>
			</td>
		</tr>
	<%end%>	

	</table>