<!DOCTYPE html>
<html>
  <head>
    <title>CourierApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>

<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to("Courier-App", root_path, class: "navbar-brand") %>
       <%= link_to("Set route", set_index_path, class: "navbar-brand") %>
       <%= link_to("Monitoring", monitor_index_path, class: "navbar-brand") %>
    </div>
   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("Registration", new_user_registration_path) %></li>  
          <li><%= link_to("Sign in", new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  </nav>

<div class="alert">
  <% if !flash[:notice].blank? %>
    <div class="alert alert-success" style="text-align: center;">
  <%= flash[:notice]%>
    </div>
  <% end %>
  <% if !flash[:error].blank? %>
    <div class="alert alert-danger" style="text-align: center;">
  <%= flash[:error]%>
    </div>
  <% end %>
  <% if !flash[:warning].blank? %>
    <div class="alert alert-warning" style="text-align: center;">
  <%= flash[:warning]%>
    </div>
  <% end %>
</div>

<%= yield %>

</div>
  <div id="footer">
    <div class="container space_top">
      <p class="text-muted">
        Courier App &copy;
      </p>
    </div>
  </div>
</body>
</html>
